<h1> Light Switch </h1>
<%= form_with url: "/light_switch", local: true , data: {turbo: false} do |f| %>
	  
	  <!-- initial value for the switch which will be submitted to the server  -->
	  <%= hidden_field_tag 'status', false %>
	
	<%= submit_tag "Turn off" %>
    <%end %>
<hr/>